<form [formGroup]="todoFolderForm" (ngSubmit)="saveFolder()">
    <h1 mat-dialog-title>{{inputData.title}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button type="submit" color="primary">Save</button>
        <a (click)="closePopup()" mat-raised-button color="basic">Cancel</a>
    </div>
</form>
