<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 side-left">
            <div class="item-add-div">
                <button (click)="addItem()" mat-raised-button color="primary">Add Item (+)</button>
            </div>
            <div class="folder-add-div">
                <button (click)="addFolder()" mat-icon-button class="folder-add-button">
                    Add folder <mat-icon class="mat-24">add</mat-icon>
                </button>
            </div>

            <mat-action-list>
                <button mat-list-item (click)="showFolderItems(0)" class="folder-list-item" style="padding:0">All</button>
                <mat-list-item *ngFor="let folder of foldersList">
                    <button mat-list-item (click)="showFolderItems(folder.id)" class="folder-list-item">{{folder.name}} </button>
                    <button matListItemMeta mat-icon-button (click)="editFolder(folder.id)">
                      <mat-icon class="mat-24">edit</mat-icon>
                    </button>
                </mat-list-item>
            </mat-action-list>

        </div>
        <div class="col-md-9 mt-3">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-md-4">
                        <div class="todo-list-container">
                            <h2 class="head-title">To do <span *ngIf="tasksList.length > 0"> ({{tasksList.length}})</span></h2>
                        
                            <div id="list-todo" cdkDropList [cdkDropListData]="tasksList" class="todo-item-list" (cdkDropListDropped)="drop($event)">
                              <div class="todo-item-box" *ngFor="let item of tasksList; let i = index" cdkDrag [cdkDragData]="item">{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(item, i, 't')"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="editItem(item, i, 't')"><mat-icon>edit</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="todo-list-container">
                            <h2 class="head-title">In progress <span *ngIf="inprogressList.length > 0"> ({{inprogressList.length}})</span></h2>
                        
                            <div id="list-inprogress" cdkDropList [cdkDropListData]="inprogressList" class="todo-item-list" (cdkDropListDropped)="drop($event)">
                              <div class="todo-item-box" *ngFor="let item of inprogressList; let i = index" cdkDrag [cdkDragData]="item">{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(item, i, 'p')"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="editItem(item, i, 'p')"><mat-icon>edit</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="todo-list-container">
                            <h2 class="head-title">Done <span *ngIf="doneList.length > 0"> ({{doneList.length}})</span></h2>
                        
                            <div id="list-done" cdkDropList [cdkDropListData]="doneList" class="todo-item-list" (cdkDropListDropped)="drop($event)">
                              <div class="todo-item-box" *ngFor="let item of doneList; let i = index" cdkDrag [cdkDragData]="item"><strike>{{item.description}}</strike>
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(item, i, 'd')"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="editItem(item, i, 'd')"><mat-icon>edit</mat-icon></button>
                                    <button mat-icon-button color="accent"><mat-icon>check_circle</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
